includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpat/phpat/extension.neon
    - vendor/tomasvotruba/unused-public/config/extension.neon

parameters:
    level: 8
    paths:
        - src
        - tests/Architecture
    stubFiles:
        - stubs/swoole.stub.php
    scanFiles:
        - stubs/swoole.stub.php
    checkMissingTypehints: true
    checkMissingIterableValueType: true
    checkMissingCallableSignature: true
    checkMissingVarTagTypehint: true
    parallel:
        maximumNumberOfProcesses: 0
    unused_public:
        methods: true
        local_methods: false
        properties: true
        constants: true

services:
    -
        class: PHAPI\Tests\Architecture\LayerDependencyTest
        tags:
            - phpat.test
